<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="FaceBook">
	<test name="FaceBook User">
	
	
		<!--<groups>
			<run>
				<include name = "test2"/>
				<include name = "test3"/>
			
			</run>
		</groups>-->
		

	
	
		<classes>
			<class name="com.qa.base.Driver"/>
		</classes>
	</test>
</suite>



